{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <div style="margin-bottom: 20px;">{% include 'admin/filtrage.html.twig' %}</div>
    <div class="spacer"></div>
    <div style="margin-bottom: 20px;">{% include 'admin/chiffre_affaire.html.twig' %}</div>
    <div class="spacer"></div>
{% endblock %}